In [6]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [7]:
import pandas as pd

In [8]:
df= pd.DataFrame(people)

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df["last"] == "Doe"

0    False
1     True
2     True
Name: last, dtype: bool

In [11]:
filt = (df["last"] == "Doe") # filter

In [12]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [ ]:
#loc - label-based indexing to access rows and columns in a DataFrame based on their labels (names) rather than integer positions.

In [13]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [14]:
df.loc[filt, "email"] # series of email columns

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [16]:
filt = (df["last"] == "Doe") & (df["first"] == "John") # AND

In [17]:
df.loc[filt, "email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [19]:
filt = (df["last"] == "Schafer") | (df["first"] == "John") # OR

In [20]:
df.loc[filt, "email"]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [21]:
df.loc[~filt, "email"] # NOT Operator

1    JaneDoe@email.com
Name: email, dtype: object