In [32]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [33]:
import pandas as pd

In [34]:
df= pd.DataFrame(people)

In [35]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [36]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [42]:
df.columns = ['first name', 'last name', 'email']

In [43]:
df

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [44]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [45]:
df.columns = df.columns.str.replace(' ', '_')
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [46]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [47]:
df.rename(columns={"first_name": "first", "last_name": "last"})

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [48]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [49]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True) # permanently change

In [50]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [51]:
df.loc[2]

first                 John
last                   Doe
email    JohnDoe@email.com
Name: 2, dtype: object

In [52]:
df.loc[2] = ["John", "Smith", "JohnSmith@email.com"]

In [53]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [54]:
df.loc[2, ["last", "email"]]

last                   Smith
email    JohnSmith@email.com
Name: 2, dtype: object

In [55]:
# Using .loc to Access and Update Multiple Values
df.loc[2,  ["last", "email"]] = ["Doe", "JohnDoe@email.com"]

In [56]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [57]:
df.loc[2, "last"] = "Smith"

In [58]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [59]:
# Using .at to Access and Update a Single Value
df.at[2, "last"] = "Doe"

In [60]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [64]:
filt = (df["email"] == "JohnDoe@email.com")
df[filt]["last"]

2    Doe
Name: last, dtype: object

In [65]:
filt = (df["email"] == "JohnDoe@email.com")
df.loc[filt, "last"] = "Smith"

In [66]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [67]:
df["email"].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [68]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [69]:
df["email"] = df["email"].str.lower()

In [70]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [71]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [72]:
def uprate_email(email):
    return email.upper()

In [74]:
df["email"].apply(uprate_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [75]:
df["email"] = df["email"].apply(uprate_email)

In [76]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [78]:
df["email"] = df["email"].apply(lambda e: e.lower())

In [80]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [81]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [82]:
len(df["email"])

3

In [83]:
df.apply(len, axis="columns")

0    3
1    3
2    3
dtype: int64

In [85]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [86]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [89]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [90]:
df.map(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [91]:
df.map(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [92]:
# Return NaN to not assigned values
df["first"].map({"Corey": "Chris", "Jane": "Mary"})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [93]:
df["first"].replace({"Corey": "Chris", "Jane": "Mary"})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [94]:
df["first"] = df["first"].replace({"Corey": "Chris", "Jane": "Mary"})

In [95]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com